---
---
%html
  %head
    %meta{:"http-equiv" => "content-type", :content => "text/html; charset=utf-8"}
    %meta{:name => "author", :content => "Robin Wenglewski"}
    == <link href="http://feeds.feedburner.com/robin-wenglewski" rel="alternate" title="Robin Wenglewski" type="application/atom+xml" />
    %link{:rel => "stylesheet", :href => "/stylesheets/screen.css", :type => "text/css"}

  %body
    #rw-topline
      .title
        %a{:href => '/'} Robin Wenglewski
      .nav
        %a{:href => '/'} Start
    #rw-topline-flow
    %div.site
      %div.header
      == {{ content }}


  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22675280-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
